.page {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: #0C0D11;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding-top: 33px;
  max-width: 950px;
  margin: 0 auto;
}

.header__nav {
  position: relative;
  left: -73px;
  display: flex;
  align-items: flex-end;
  padding: 0;
}

.header__logo-link {
  text-decoration: none;
}

.header__logo {
  width: 168px;
  transition: all .5s ease;
}

.header__logo:hover {
  opacity: .4;
}

.header__menu {
  margin-left: 79px;
  margin-bottom: 24px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 687px;
}

.header__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  transition: all .3s ease;
}

.header__menu-link:hover {
  color: #fff;
  opacity: .5;
}

.intro {
  position: relative;
  min-height: 814px;
  max-width: 1156px;
  margin: 0 auto;
}

.intro__title {
  font-family: 'PP Neue Machina';
  font-size: 110px;
  line-height: 117px;
  text-transform: uppercase;
  max-width: 629px;
  padding-top: 166px;
  margin: 0 0px 93px 64px;
  position: relative;
  z-index: 2;
}

.intro__title-first {
  margin-left: 96px;
}

.intro__title-last {
  margin-left: 197px;
}

.button {
  background: rgba(146, 146, 146, 0.4);
  backdrop-filter: blur(2px);
  border: none;
  color: #fff;
  text-align: center;
  padding: 0;
  transition: all .3s ease-in;
}

.button:hover {
  background: rgba(146, 146, 146, 0.6);
}

.intro__button {
  width: 378px;
  height: 88px;
  border-radius: 30px;
  font-family: 'PP Neue Machina';
  font-size: 30px;
  line-height: 31px;
  display: block;
  margin-left: 143px;
}

.intro__img {
  position: absolute;
  display: block;
  width: 584px;
  border-radius: 30px;
  top: -16px;
  right: -30px;
}

.about__grid {
  display: grid;
  grid-template-columns: 356px 271px 334px;
  grid-template-rows: 110px 93px 172px 90px;
  grid-template-areas:
    "woman title ."
    "woman txt1 txt1"
    "woman dancers txt2"
    ". dancers txt2";
  column-gap: 55px;
  row-gap: 32px;
  max-width: 1072px;
  margin: 0 auto;
  padding-top: 110px;
  position: relative;
  left: -22px;
}

.about__title {
  font-family: 'PP Neue Machina';
  font-size: 70px;
  line-height: 72px;
  text-transform: uppercase;
  grid-area: title;
  align-self: flex-end;
  margin-bottom: 13px;
}

.about__img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.about__img_woman {
  grid-area: woman;
}

.about__img_dancers {
  grid-area: dancers;
}

.about__text {
  font-size: 18px;
  line-height: 22px;
}

.about__text_1 {
  grid-area: txt1;
  margin-top: -14px;
}

.about__text_2 {
  margin-top: 26px;
  grid-area: txt2;
}

.schedule {
  max-width: 1173px;
  margin: 123px auto 0;
}

.schedule__title {
  font-family: 'PP Neue Machina';
  font-size: 70px;
  line-height: 72px;
  text-transform: uppercase;
  margin: 0;
}

.schedule__subtitle {
  font-family: 'PP Neue Machina';
  font-size: 50px;
  line-height: 51px;
  text-transform: uppercase;
  margin: 38px 0 58px 0;
}

.schedule__nav {
  width: 816px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule__slide-btn {
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  transition: opacity .3s ease;
}

.schedule__slide-btn:hover {
  opacity: .6;
}

.schedule__slide-btn_prev {
  background: url(./images/schedule__prev-btn.svg) no-repeat center;
}

.schedule__slide-btn_next {
  background: url(./images/schedule__next-btn.svg) no-repeat center;
}

.schedule__weekday-list {
  display: flex;
  justify-content: space-between;
  width: 624px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.schedule__weekday {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 55px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.schedule__weekday:hover {
  border: 1px solid rgba(255, 255, 255, .5);
}

.schedule__weekday_active {
  border: 1px solid #fff;
}

.schedule__slide {
  margin-top: 58px;
}

.schedule__row {
  display: flex;
  align-items: center;
  padding-left: 82px;
  margin-bottom: 18px;
  border-bottom: 1px solid #FFFFFF;
}

.schedule__row-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  width: 880px;
  min-height: 76px;
}

.schedule__lesson {
  width: 171px;
  text-align: center;
}

.schedule__teacher {
  width: 195px;
  text-align: center;
}

.schedule__level {
  width: 195px;
  text-align: center;
}

.schedule__button {
  width: 199px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
}

.teachers__slide {
  transition: all .5s ease;
}

.swiper-slide-prev {
  background-color: aqua;
  width: 150px;
  height: 150px;
}

.swiper-slide-next {
  background-color: aqua;
  width: 150px;
  height: 150px;
}

.teachers__slide.swiper-slide-active {
  width: 300px;
  background-color: blueviolet;
  height: 300px;
}

.teachers {
  min-height: 700px;
}

.feedback__card {
  height: 300px;
}
